

<h1>"At foo bar"</h1>
<h2><%= drink.name %></h2>
<h1><%= drink.image %></h1>
<h3><%= drink.price %></h3>

<a href="/drink">Back to list</a>




<ul>
    <% drinks.forEach((drink, index) => { %>

       <a href="/drink/<%= index %>"><li><%= drink.name %></li></a>
       
    <% }) %>
</ul>
<style type=" text/css">
    body{
        color: blanchedalmond;
        background-color: steelblue;
    }

</style>